#header {
  padding: 15px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 50px;
  }
  p {
    margin-bottom: 0;
    color: $light-gray;
  }
}
.banner {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1429681601148-75510b2cef43?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9505cdf4eaedc1e8004cc8fef8c69566&auto=format&fit=crop&w=1050&q=80');
  background-image: -o-linear-gradient(left, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1429681601148-75510b2cef43?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9505cdf4eaedc1e8004cc8fef8c69566&auto=format&fit=crop&w=1050&q=80');
  background-image: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1429681601148-75510b2cef43?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9505cdf4eaedc1e8004cc8fef8c69566&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  #query_business {
    width: 100%;
    max-width: 600px;
    height: 56px;
    margin-bottom: 0;
    border-radius: 4px;
    border: 1px solid lightgray;
  }
  .form-group {
    margin-bottom: 0;
  }
}
